.news {
  margin-top: 15vw;
  h2 {
    font-family: "Monda", sans-serif;
  }
  .hr {
    border-bottom: 4px solid #ff7800;
    width: 300px;
    margin-top: 30px;
    margin-bottom: 60px;
  }
}

.carder {
  border-radius: 10px;
  width: 76vw;
  height: 330px;
  background-color: #fff;
  margin-left: 12vw;
  margin-top: 30px;
  margin-bottom: 100px;
  display: flex;

  .dataof {
    color: rgba(0, 0, 0, 0.63);
    position: relative;
    top: -20px;
    font-size: 20px;
  }

  .imageview {
    border-radius: 25px;
    width: 35vw;
    height: 300px;
    margin-left: 3vw;
    object-fit: cover;
    position: relative;
    top: -30px;
    box-shadow: 18px 18px 20px #aaa;
  }

  .content {
    padding-left: 50px;
    height: 100%;
    display: flex;
    flex-direction: column;

    .title {
      color: rgba(51, 42, 42, 0.966);
      font-size: 20px;
      margin-top: 5px;
      margin-right: 10px;
      font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
      @media (max-width: 1100px) {
        font-size: 17px;
      }
    }

    .source {
      margin-top: 24px;
      margin-bottom: 24px;
      .srcname span {
        background-color: #ff7800;
        padding: 10px;
        padding-left: 25px;
        padding-right: 25px;
        cursor: pointer;
        border-radius: 20px;
        color: rgb(238, 232, 232);
      }
    }

    .hrs {
      border-bottom: 1px solid rgba(0, 0, 0, 0.315);
      width: 300px;
    }

    .describe {
      font-size: 20px;
      font-family: sans-serif;
      margin-top: 15px;
      margin-right: 15px;
      color: rgb(37, 31, 31);
      font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
      @media (max-width: 1100px) {
        font-size: 17px;
      }
    }

    .morebutton {
      color: blueviolet;
      font-size: 17px;
      font-weight: bolder;
      cursor: pointer;
      text-align: end;
      text-decoration: none;
      justify-self: flex-end;
      align-self: flex-end;
      margin-right: 35px;
      &:hover {
        color: #000;
        transition: 0.3 linear;
      }
    }
  }

  @media (max-width: 640px) {
    flex-direction: column;
    height: auto;
    .imageview {
      width: 80%;
      height: 170px;
      margin-left: 10%;
    }
    .dataof {
      font-size: 10px;
    }
    .content {
      .hrs {
        width: 200px;
      }
      .source {
        margin-top: 12px;
        margin-bottom: 12px;
        .srcname span {
          padding: 5px;
          padding-left: 15px;
          padding-right: 15px;
          border-radius: 20px;
          color: rgb(238, 232, 232);
        }
      }
      .title {
        font-size: 14px;
      }
      .describe {
        font-size: 11px;
      }
      .morebutton {
        font-size: 13px;
        align-self: center;
      }
    }
  }
}
